<% for(var i = 0; i < posts.length; i++){ %>
	<article class="post">
		<div class="heading">
			<img src="images/test_avatar.png" class="post_img_avatar">
			<div class="post_title_wrap">
				<h1 class="post_title"><%= posts[i].title %></h1>
				<div class="post_author">
					<p>- <%= posts[i].author %> on <%= posts[i].date.getDate() + "." +  (posts[i].date.getMonth() + 1) + "." + (posts[i].date.getYear() + 1900)%>
					</p>
				</div>
			</div>
		</div>

		<p class="post_text"><%- posts[i].text %></p>
		<div class="comment_section">
			<% if(posts[i].comments.length){ %>
				<p class="p">Comments</p>
			<% } %>
			<% for(var j = 0; j < posts[i].comments.length; j++){ %>
				<div class="comment_wrapper">
					<p>- <%= posts[i].comments[j].author %> on <%= posts[i].comments[j].date.getDate() + "." +  (posts[i].comments[j].date.getMonth() + 1) + "." + (posts[i].comments[j].date.getYear() + 1900) %>
					</p>
					<p><%= posts[i].comments[j].text %></p>
				</div>
			<% } %>
		</div>

		<% if(login){ %>
			<form action="/submit/vote/post/<%= posts[i]._id %>" method="post" class="vote_section">
				<input type="submit" value="Upvote" class="submit vote" name="submit">
				<input type="submit" value="Downvote" class="submit vote" name="submit">
			</form>

			<form action="/submit/comment/<%= posts[i]._id %>" method="post" class="m">
				<div class="input_row t">
					<textarea name="comment_text" required></textarea>
					<label for="comment_text">Type a comment</label>
				</div>
				<input type="hidden" name="postId">
				<input type="submit" value="Comment" class="submit">
			</form>
		<% } %>
	</article>
<% } %>