<!DOCTYPE html>
<html>
<head>
	<% include templates/header.ejs %>
</head>

<body>
	<div id="page_wrapper">
		<% include templates/nav.ejs %>

		<div id="content_wrapper">

			<div id="main_content">
				<p>Name: <%= user_name %></p>
				<p>Email: <%= user_email %></p>
				<br>

				<% for(var i = 0; i < posts.length; i++){ %>
					<article class="post">
						<div class="heading">
							<img src="images/test_avatar.png" class="post_img_avatar">
							<div class="post_title_wrap">
								<h1 class="post_title"><%= posts[i].title %></h1>
								<div class="post_author"><p>- <%= posts[i].author %> on <%= posts[i].date.getDate() + "." +  (posts[i].date.getMonth() + 1) + "." + (posts[i].date.getYear() + 1900)%><p></div>
							</div>
						</div>

						<p class="post_text"><%- posts[i].text%></p>
					</article>
				<% } %>
			</div>

			<div id="side_pannel">
				
			</div>

		</div>
	</div>
</body>
</html>